# {{ ansible_managed }}
{% block ssl %}
    # Ssl configuration
    ssl on;
    ssl_certificate     {{ item.ssl_certificate }};
    ssl_certificate_key {{ item.ssl_certificate_key }};
    ssl_protocols {{ item.ssl_protocols | default("TLSv1.2 TLSv1.3") }};
    ssl_ciphers {{ item.ssl_ciphers | default("EECDH+ECDSA+AESGCM:EECDH+aRSA+AESGCM:EECDH+ECDSA+SHA512:EECDH+ECDSA+SHA384:EECDH+ECDSA+SHA256:ECDH+AESGCM:ECDH+AES256:DH+AESGCM:DH+AES256:!aNULL:!eNULL:!LOW:!RC4:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS") }};
{% if item.ssl_trusted_certificate is defined %}
    ssl_trusted_certificate {{ item.ssl_trusted_certificate }};
{% endif %}
    ssl_session_cache {{ item.ssl_session_cache | default("shared:SSL:50m") }};
    ssl_session_timeout  {{ item.ssl_session_timeout | default("5m") }};
    ssl_session_tickets {{ item.ssl_session_tickets | default("off") }};
    ssl_prefer_server_ciphers {{ item.ssl_prefer_server_ciphers | default("on") }};
    resolver {{ item.resolver | default("8.8.8.8 8.8.4.4 valid=10m") }};
    resolver_timeout {{ item.resolver_timeout | default("10s") }};
    ssl_stapling {{ item.ssl_stapling | default("on") }};
    ssl_stapling_verify {{ item.ssl_stapling_verify | default("on") }};
    http2_max_field_size {{ item.http2_max_field_size | default("16k") }};
    http2_max_header_size {{ item.http2_max_header_size | default("32k") }};
    # End ssl configuration
{% endblock %}
